@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="dashboard-main-wrapper">
    <NavMenu />
    <SideBar />
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            @Body
        </div>
        @* <Footer /> *@
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    protected async override Task OnParametersSetAsync()
    {
        var autenticationState = await AuthenticationStateTask;
        var claims = autenticationState.User.Claims.ToList();
        var url = navigationManager.Uri;

        if (claims.Count() == 0 && !url.Contains("Register") && !url.Contains("ConfirmEmail") && !url.Contains("ResendToken") && !url.Contains("RecoverPassword") && !url.Contains("ResetPassword"))
        {
            navigationManager.NavigateTo("/Login");

        }
    }
}